.ma-0 {
    margin: 0;
}

.ma-1 {
    margin: 5px;
}

.ma-2 {
    margin: 10px;
}

.ma-3 {
    margin: 15px;
}

.ma-4 {
    margin: 20px;
}

.pa-0 {
    padding: 0;
}

.pa-1 {
    padding: 5px;
}

.pa-2 {
    padding: 10px;
}

.pa-3 {
    padding: 15px;
}

.pa-4 {
    padding: 20px;
}